Repository indico/indico, pull requests merged in 2024-12, with the labels that each got.

#6648 Allow customizing room component
  indico/modules/rb/client/js/common/rooms/RoomRenderer.jsx
  indico/modules/rb/client/js/components/Room.jsx
Labels: build-wheel

#6324 Improve error message accessibility in registration form
  CHANGES.rst
  indico/modules/events/registration/client/js/components/ConsentToPublishDropdown.jsx
  indico/modules/events/registration/client/js/components/ConsentToPublishDropdown.module.scss
  indico/modules/events/registration/client/js/components/ConsentToPublishEditor.jsx
  indico/modules/events/registration/client/js/form/FormErrorList.jsx
  indico/modules/events/registration/client/js/form/FormErrorList.module.scss
  indico/modules/events/registration/client/js/form/fields/AccommodationInput.jsx
  indico/modules/events/registration/client/js/form/fields/BooleanInput.jsx
  indico/modules/events/registration/client/js/form/fields/CheckboxInput.jsx
  indico/modules/events/registration/client/js/form/fields/FileInput.jsx
  indico/modules/events/registration/client/js/form/fields/MultiChoiceInput.jsx
  indico/modules/events/registration/client/js/form/fields/PictureInput.jsx
  indico/modules/events/registration/client/js/form/selectors.js
  indico/modules/events/registration/client/js/form_submission/RegistrationFormSubmission.jsx
  indico/modules/events/registration/templates/display/_registration_summary_blocks.html
  indico/web/client/js/custom_elements/ind_select.js
  indico/web/client/js/react/components/Captcha.jsx
  indico/web/client/js/react/components/Select.jsx
  indico/web/client/styles/design_system/_index.scss
  indico/web/client/styles/design_system/_message_box.scss
  indico/web/client/styles/design_system/variables.scss
  indico/web/client/styles/modules/_registrationform.scss
Labels: a11y

#6646 Update Python deps
  bin/maintenance/compile-python-deps.py
  docs/requirements.txt
  indico/modules/rb/api.py
  indico/modules/rb/models/reservation_occurrences.py
  indico/modules/rb/models/reservations.py
  indico/web/flask/wrappers.py
  pyproject.toml
  pytest.ini
  requirements.dev.txt
  requirements.in
  requirements.txt
  ruff.toml
Labels: dependencies, python
