Repository indico/indico, pull requests merged in 2024-08, with the labels that each got.

#6456 Add support for Typescript code and React components
  .editorconfig
  .eslintrc.yml
  .github/workflows/ci.yml
  CHANGES.rst
  babel.config.js
  indico/cli/i18n.py
  indico/web/client/js/react/components/IButton.jsx
  indico/web/client/js/react/components/IButton.tsx
  indico/web/client/js/types/urls.d.mts
  package-lock.json
  package.json
  tsconfig.json
  webpack/base.mjs
Labels: dependencies, javascript

#6478 Add bypass block for registration form/summary
  indico/modules/events/registration/templates/display/_registration_summary_blocks.html
  indico/modules/events/registration/templates/display/registration_modify.html
Labels: a11y

#6310 Fix SingleChoiceInput accessibility issues
  CHANGES.rst
  indico/modules/events/registration/client/js/form/fields/SingleChoiceInput.jsx
  indico/modules/events/registration/client/js/form/fields/registry.js
  indico/modules/events/registration/client/styles/regform.module.scss
  indico/web/client/js/custom_elements/ind_combobox.README.md
  indico/web/client/js/custom_elements/ind_combobox.js
  indico/web/client/js/custom_elements/ind_combobox.scss
  indico/web/client/js/custom_elements/ind_date_picker.js
  indico/web/client/js/custom_elements/ind_date_picker.scss
  indico/web/client/js/custom_elements/ind_select.js
  indico/web/client/js/custom_elements/ind_select.scss
  indico/web/client/js/react/components/ComboBox.jsx
  indico/web/client/js/react/components/Select.jsx
  indico/web/client/js/react/components/index.js
  indico/web/client/js/react/hooks.js
  indico/web/client/js/utils/positioning.js
  indico/web/client/styles/partials/_sui_debt.scss
Labels: a11y

#6477 Use hatchling instead of setuptools
  .readthedocs.yml
  CHANGES.rst
  MANIFEST.in
  bin/maintenance/build-assets.py
  bin/maintenance/build-wheel.py
  bin/maintenance/compile-python-deps.py
  hatch_build.py
  indico/cli/i18n.py
  indico/cli/watchfiles.py
  indico/modules/receipts/controllers/access_test.py
  indico/testing/fixtures/receipt.py
  indico/util/packaging.py
  pyproject.toml
  requirements.dev.in
  requirements.dev.txt
  setup.cfg
  setup.py
Labels: dependencies, python, build-wheel

#6484 Bump babel to 2.16 and remove monkey-patching of (p)gettext
  docs/requirements.txt
  indico/util/date_time_test.py
  indico/util/i18n.py
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Labels: dependencies, python

#6439 Add weekday-based bookable hours
  CHANGES.rst
  indico/migrations/versions/20240708_1545_5fa92194c124_add_weekdays_to_bookable_hours.py
  indico/modules/rb/client/js/common/bookings/BookingEditCalendar.jsx
  indico/modules/rb/client/js/common/rooms/RoomDetailsModal.jsx
  indico/modules/rb/client/js/common/rooms/edit/DailyAvailability.jsx
  indico/modules/rb/client/js/common/rooms/edit/DailyAvailability.module.scss
  indico/modules/rb/client/js/common/rooms/edit/RoomEditOptions.jsx
  indico/modules/rb/client/js/common/timeline/ElasticTimeline.jsx
  indico/modules/rb/client/js/common/timeline/SingleRoomTimelineModal.jsx
  indico/modules/rb/client/js/modules/bookRoom/filters/DateForm.jsx
  indico/modules/rb/controllers/backend/admin.py
  indico/modules/rb/models/reservations.py
  indico/modules/rb/models/room_bookable_hours.py
  indico/modules/rb/models/room_bookable_hours_test.py
  indico/modules/rb/models/rooms.py
  indico/modules/rb/models/rooms_test.py
  indico/modules/rb/operations/admin.py
  indico/modules/rb/operations/bookings.py
  indico/modules/rb/operations/conflicts.py
  indico/modules/rb/operations/misc.py
  indico/modules/rb/schemas.py
  indico/modules/rb/util.py
  indico/testing/fixtures/rb.py
  indico/web/client/js/utils/date.js
Labels: build-wheel, alembic

#6497 Cast string literals explicitly in constraint
  indico/migrations/versions/20240708_1545_5fa92194c124_add_weekdays_to_bookable_hours.py
  indico/modules/rb/models/room_bookable_hours.py
Labels: alembic

#6420 Fix negative durations + add DB constraints
  CHANGES.rst
  indico/migrations/versions/20240820_1408_0f7c3b642036_fix_negative_durations.py
  indico/migrations/versions/20240820_1409_75db3a4a4ed4_add_constraints_to_durations.py
  indico/modules/events/contributions/models/contributions.py
  indico/modules/events/contributions/models/subcontributions.py
  indico/modules/events/sessions/models/blocks.py
  indico/modules/events/sessions/models/sessions.py
  indico/modules/events/timetable/models/breaks.py
Labels: alembic

#6514 Update Python deps
  docs/requirements.txt
  indico/core/oauth/oauth2_test.py
  requirements.dev.txt
  requirements.in
  requirements.txt
Labels: dependencies, python
