Repository indico/indico, pull requests merged in 2024-03, with the labels that each got.

#6225 Update JS deps
  DEVELOPMENT.md
  package-lock.json
  package.json
Labels: dependencies, javascript

#6114 Link objects to reservation occurrences
  CHANGES.rst
  indico/migrations/versions/20240307_1408_b37cbc4bb129_link_events_to_reservation_occurrences.py
  indico/modules/categories/controllers/management.py
  indico/modules/events/api.py
  indico/modules/events/client/js/creation.js
  indico/modules/events/contributions/models/contributions.py
  indico/modules/events/management/controllers/settings.py
  indico/modules/events/management/templates/delete_event.html
  indico/modules/events/management/templates/delete_events.html
  indico/modules/events/models/events.py
  indico/modules/events/sessions/models/blocks.py
  indico/modules/rb/__init__.py
  indico/modules/rb/blueprint.py
  indico/modules/rb/client/js/common/bookings/BookingDetails.jsx
  indico/modules/rb/client/js/common/bookings/BookingLinks.jsx
  indico/modules/rb/client/js/common/bookings/BookingObjectLink.jsx
  indico/modules/rb/client/js/common/bookings/LazyBookingLinks.jsx
  indico/modules/rb/client/js/common/bookings/LazyBookingObjectLink.jsx
  indico/modules/rb/client/js/modules/bookRoom/BookRoomModal.jsx
  indico/modules/rb/controllers/backend/bookings.py
  indico/modules/rb/event/controllers.py
  indico/modules/rb/models/reservation_occurrences.py
  indico/modules/rb/models/reservations.py
  indico/modules/rb/operations/bookings.py
  indico/modules/rb/schemas.py
  indico/modules/rb/templates/booking_list.html
  indico/modules/rb/util.py
  indico/modules/rb/util_test.py
  indico/web/client/js/react/forms/fields.jsx
Labels: alembic

#5931 Reimplement the category navigator using React
  CHANGES.rst
  indico/modules/categories/client/js/components/NavigateTo.jsx
  indico/modules/categories/client/js/components/NavigateTo.module.scss
  indico/modules/categories/client/js/ind-category-navigator.js
  indico/modules/categories/client/js/index.js
  indico/modules/categories/templates/display/base.html
  indico/web/client/js/custom_elements/ind_with_toggletip.README.md
  indico/web/client/js/custom_elements/ind_with_toggletip.js
  indico/web/client/js/custom_elements/ind_with_tooltip.README.md
  indico/web/client/js/custom_elements/ind_with_tooltip.js
  indico/web/client/js/custom_elements/tips.scss
  indico/web/client/js/index.js
  indico/web/client/js/react/components/Dialog.jsx
  indico/web/client/js/react/components/category_navigator/api.js
  indico/web/client/js/react/components/category_navigator/index.jsx
  indico/web/client/js/react/components/category_navigator/model.js
  indico/web/client/js/react/components/category_navigator/style.scss
  indico/web/client/js/react/components/category_navigator/view.jsx
  indico/web/client/js/react/components/category_navigator/viewmodel.jsx
  indico/web/client/js/widgets/dynamic-tips.js
  indico/web/client/styles/design_system/_button.scss
  indico/web/client/styles/design_system/_dialog.scss
  indico/web/client/styles/design_system/variables.scss
  indico/web/client/styles/partials/_buttons.scss
  indico/web/client/styles/partials/_links.scss
  indico/web/client/styles/partials/_main.scss
Labels: a11y

#6088 Allow linking badge templates to regforms
  CHANGES.rst
  indico/migrations/versions/20240314_1430_4e32f4d5ebe4_add_registration_id_to_designer_templates.py
  indico/modules/designer/__init__.py
  indico/modules/designer/blueprint.py
  indico/modules/designer/controllers.py
  indico/modules/designer/models/templates.py
  indico/modules/designer/models/templates_test.py
  indico/modules/designer/placeholders.py
  indico/modules/designer/templates/_list.html
  indico/modules/designer/templates/backside_list.html
  indico/modules/designer/templates/list.html
  indico/modules/designer/templates/template.html
  indico/modules/designer/testing/fixtures.py
  indico/modules/designer/util.py
  indico/modules/designer/util_test.py
  indico/modules/events/registration/badges.py
  indico/modules/events/registration/forms.py
  indico/modules/events/registration/models/forms.py
  indico/modules/events/registration/testing/fixtures.py
  indico/modules/events/registration/util.py
  indico/web/client/styles/modules/_designer.scss
Labels: alembic
