Repository indico/indico, pull requests merged in 2024-11, with the labels that each got.

#6475 Many changes in VC code, to prepare for new Zoom Rooms plugin
  CHANGES.rst
  indico/core/plugins/__init__.py
  indico/core/signals/__init__.py
  indico/core/signals/event/core.py
  indico/core/signals/vc.py
  indico/modules/events/contributions/__init__.py
  indico/modules/events/contributions/operations.py
  indico/modules/events/notes/templates/_note.html
  indico/modules/events/operations.py
  indico/modules/events/sessions/operations.py
  indico/modules/events/templates/display/common/_manage_button.html
  indico/modules/events/templates/display/common/_privacy_info_button.html
  indico/modules/events/timetable/controllers/legacy.py
  indico/modules/events/timetable/operations.py
  indico/modules/events/util.py
  indico/modules/vc/__init__.py
  indico/modules/vc/clone.py
  indico/modules/vc/controllers.py
  indico/modules/vc/models/vc_rooms.py
  indico/modules/vc/plugins.py
  indico/modules/vc/templates/conference_home.html
  indico/modules/vc/templates/event_buttons.html
  indico/modules/vc/templates/event_header.html
  indico/modules/vc/templates/list_vc_rooms.html
  indico/modules/vc/templates/manage_event.html
  indico/modules/vc/templates/manage_event_select.html
  indico/modules/vc/templates/vc_room_timetable_buttons.html
  indico/testing/fixtures/event.py
  indico/util/locators.py
  indico/web/client/js/custom_elements/ind_vc_room_segment.js
  indico/web/client/js/custom_elements/ind_vc_room_segment.scss
  indico/web/client/js/index.js
  indico/web/client/js/legacy/libs/timetable/Actions.js
  indico/web/client/styles/modules/_eventservices.scss
  indico/web/client/styles/modules/_vc.scss
  indico/web/client/styles/modules/event_display/_meetings.scss
  indico/web/client/styles/themes/indico.scss
Labels: build-wheel

#6528 Reimplement Checkbox
  CHANGES.rst
  indico/modules/events/registration/client/js/form/fields/MultiChoiceInput.jsx
  indico/modules/events/registration/client/js/form_submission/RegistrationFormSubmission.jsx
  indico/web/client/js/custom_elements/ind_combobox.scss
  indico/web/client/js/react/components/Checkbox.jsx
  indico/web/client/js/react/components/Checkbox.module.scss
  indico/web/client/js/react/components/index.js
  indico/web/client/js/react/forms/fields.jsx
  indico/web/client/styles/design_system/_button_group.scss
  indico/web/client/styles/design_system/_dialog.scss
  indico/web/client/styles/design_system/_form_controls.scss
  indico/web/client/styles/partials/_main.scss
  indico/web/client/styles/widgets/_sortable_list.scss
Labels: a11y

#6620 Extract translator comments
  CHANGES.rst
  indico/cli/i18n.py
  indico/translations/messages.pot
  indico/util/date_time.py
  package-lock.json
  package.json
Labels: dependencies, javascript

#6626 Update ruff+uv & fix new warnings
  indico/core/storage/backend.py
  indico/modules/events/payment/util.py
  indico/modules/events/static/offline.py
  indico/modules/rb/api.py
  indico/modules/vc/plugins.py
  indico/util/string.py
  requirements.dev.txt
  ruff.toml
Labels: dependencies, python

#6621 Replace the SUI radio button in registration form
  CHANGES.rst
  indico/modules/events/registration/client/js/form/FormItem.jsx
  indico/modules/events/registration/client/js/form/fields/AccommodationInput.jsx
  indico/modules/events/registration/client/js/form/fields/SingleChoiceInput.jsx
  indico/modules/events/registration/client/js/form/fields/registry.js
  indico/modules/events/registration/client/js/form/fields/table.module.scss
  indico/modules/events/registration/client/styles/regform.module.scss
  indico/web/client/js/react/components/RadioButton.jsx
  indico/web/client/js/react/components/RadioButton.module.scss
  indico/web/client/js/react/components/index.js
  indico/web/client/styles/base/_reset.scss
  indico/web/client/styles/partials/_sui_debt.scss
Labels: a11y
