Repository indico/indico, pull requests merged in 2025-09, with the labels that each got.

#6972 Add option to bind registrations to invitation email
  CHANGES.rst
  indico/migrations/versions/20250709_0945_869fb2760b41_add_lock_email_to_invitations.py
  indico/modules/events/registration/client/js/form/FormItem.jsx
  indico/modules/events/registration/client/js/form_submission/index.jsx
  indico/modules/events/registration/client/js/form_submission/selectors.js
  indico/modules/events/registration/controllers/management/invitations.py
  indico/modules/events/registration/forms.py
  indico/modules/events/registration/models/invitations.py
  indico/modules/events/registration/templates/display/regform_display.html
  indico/modules/events/registration/util.py
Labels: alembic

#7070 Fix category list link color contrast
  CHANGES.rst
  indico/web/client/styles/design_system/variables.scss
  indico/web/client/styles/modules/_category.scss
Labels: a11y

#7078 Fix contrast of the category info text
  CHANGES.rst
  indico/web/client/styles/modules/_category.scss
Labels: a11y

#7081 Fix location inheritance issues
  indico/core/db/sqlalchemy/locations.py
  indico/modules/events/contributions/controllers/management.py
  indico/modules/events/contributions/schemas.py
  indico/modules/events/sessions/controllers/management/sessions.py
  indico/modules/events/sessions/schemas.py
  indico/modules/events/timetable/client/js/DayTimetable.tsx
  indico/modules/events/timetable/client/js/EntryPopup.tsx
  indico/modules/events/timetable/client/js/TimetableManageModal.tsx
  indico/modules/events/timetable/client/js/Toolbar.tsx
  indico/modules/events/timetable/client/js/index.jsx
  indico/modules/events/timetable/client/js/preprocess.ts
  indico/modules/events/timetable/client/js/selectors.ts
  indico/modules/events/timetable/client/js/types.ts
  indico/modules/events/timetable/client/js/utils.ts
  indico/modules/events/timetable/schemas.py
  indico/modules/events/timetable/serializer.py
  indico/util/locations.py
  indico/web/client/js/react/components/LocationField.jsx
  indico/web/client/js/react/forms/final-form.jsx
Labels: new-timetable

#7085 Remove unused code
  indico/modules/events/timetable/client/js/Toolbar.tsx
  indico/modules/events/timetable/client/js/actions.ts
  indico/modules/events/timetable/client/js/reducers.ts
  indico/modules/events/timetable/client/js/selectors.ts
Labels: new-timetable

#7086 Fix TS errors in `reducers.ts`
  indico/modules/events/timetable/client/js/reducers.ts
  indico/modules/events/timetable/client/js/types.ts
Labels: new-timetable
