Repository indico/indico, pull requests merged in 2025-08, with the labels that each got.

#6989 Introduce custom event reminder
  CHANGES.rst
  indico/core/db/sqlalchemy/descriptions.py
  indico/core/emails.py
  indico/core/notifications.py
  indico/migrations/versions/20250630_1129_6fac01c501b6_add_fields_for_custom_reminder_type.py
  indico/modules/events/reminders/controllers.py
  indico/modules/events/reminders/forms.py
  indico/modules/events/reminders/models/reminders.py
  indico/modules/events/reminders/notifications_test.py
  indico/modules/events/reminders/templates/edit_reminder.html
  indico/modules/events/reminders/templates/emails/_agenda.html
  indico/modules/events/reminders/templates/emails/event_reminder.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder.subject.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_a.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_a.subject.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_htmlconv.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_htmlconv.subject.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_htmlconv.subject.txt
  indico/modules/events/reminders/templates/emails/tests/event_reminder_htmlconv.txt
  indico/modules/events/reminders/templates/emails/tests/event_reminder_label.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_label.subject.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_r.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_r.subject.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_ra.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_ra.subject.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_v.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_v.subject.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_va.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_va.subject.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_vr.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_vr.subject.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_vra.html
  indico/modules/events/reminders/templates/emails/tests/event_reminder_vra.subject.html
  indico/modules/events/reminders/templates/preview.html
  indico/modules/events/reminders/templates/reminders.html
  indico/modules/events/reminders/util.py
  indico/modules/logs/client/style/logs.scss
  indico/modules/logs/controllers.py
  indico/testing/util.py
  indico/util/string.py
  indico/web/client/js/jquery/widgets/jinja/tinymce_widget.js
  indico/web/client/js/tinymce.js
  indico/web/templates/emails/base_i18n.html
  indico/web/templates/forms/tinymce_widget.html
Labels: alembic

#7042 Use biome for JS/TS/JSON/CSS formatting
  .eslintrc.yml
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc
  .stylelintrc.yaml
  DEVELOPMENT.md
  biome.jsonc
  indico/web/client/js/utils/sanitize.js
  package-lock.json
  package.json
Labels: dependencies, javascript

#7033 Add option to run postgres tests in a container
  CHANGES.rst
  docs/source/installation/development.rst
  indico/testing/fixtures/database.py
  indico/testing/fixtures/database_docker.py
  requirements.dev.in
  requirements.dev.txt
Labels: dependencies, python
