Repository indico/indico, pull requests merged in 2025-01, with the labels that each got.

#6669 Add tests for editing service payloads
  indico/modules/events/editing/service.py
  indico/modules/events/editing/service_test.py
  indico/modules/events/editing/tests/service_custom_action.yml
  indico/modules/events/editing/tests/service_enabled.yml
  indico/modules/events/editing/tests/service_get_custom_action.yml
  indico/modules/events/editing/tests/service_new_editable.yml
  indico/modules/events/editing/tests/service_review_editable.yml
  indico/testing/fixtures/editing.py
  indico/testing/fixtures/requests.py
  indico/testing/pytest_plugin.py
  requirements.dev.in
  requirements.dev.txt
Labels: dependencies, python

#6703 Get rid of `marshmallow-enum`
  CHANGES.rst
  indico/core/marshmallow.py
  indico/modules/categories/controllers/display.py
  indico/modules/events/contributions/schemas.py
  indico/modules/events/controllers/display.py
  indico/modules/events/editing/controllers/backend/timeline.py
  indico/modules/events/editing/schemas.py
  indico/modules/events/notes/controllers.py
  indico/modules/events/papers/controllers/api.py
  indico/modules/events/papers/schemas.py
  indico/modules/events/persons/schemas.py
  indico/modules/events/registration/controllers/management/privacy.py
  indico/modules/events/registration/util.py
  indico/modules/rb/controllers/backend/bookings.py
  indico/modules/rb/controllers/backend/common.py
  indico/modules/rb/schemas.py
  indico/modules/search/controllers.py
  indico/modules/search/result_schemas.py
  indico/modules/users/controllers.py
  indico/util/marshmallow.py
  requirements.in
  requirements.txt
Labels: dependencies, python

#6704 Add RB setting to limit booking details access
  CHANGES.rst
  indico/modules/rb/__init__.py
  indico/modules/rb/api.py
  indico/modules/rb/client/js/common/bookings/BookingDetails.jsx
  indico/modules/rb/client/js/modules/admin/SettingsPage.jsx
  indico/modules/rb/models/reservations.py
  indico/modules/rb/operations/bookings.py
  indico/modules/rb/schemas.py
Labels: build-wheel

#6464 Implement DateRange picker
  CHANGES.rst
  indico/modules/events/registration/client/js/form/fields/AccommodationInput.jsx
  indico/modules/rb/client/js/common/bookings/BookingEdit.module.scss
  indico/modules/rb/client/js/common/bookings/BookingEditForm.jsx
  indico/modules/rb/client/js/common/bookings/BookingEditForm.module.scss
  indico/modules/rb/client/js/common/bookings/BookingExportModal.jsx
  indico/modules/rb/client/js/common/rooms/edit/NonBookablePeriods.jsx
  indico/modules/rb/client/js/common/rooms/edit/NonBookablePeriods.module.scss
  indico/modules/rb/client/js/common/timeline/DateNavigator.jsx
  indico/modules/rb/client/js/components/BookingBootstrapForm.jsx
  indico/modules/rb/client/js/modules/blockings/BlockingModal.jsx
  indico/modules/rb/client/js/modules/bookRoom/BookingFilterBar.jsx
  indico/modules/rb/client/js/modules/bookRoom/filters/DateForm.jsx
  indico/modules/rb/client/styles/main.scss
  indico/web/client/js/custom_elements/_base.js
  indico/web/client/js/custom_elements/date_selection.js
  indico/web/client/js/custom_elements/date_selection.test.js
  indico/web/client/js/custom_elements/ind_date_picker.js
  indico/web/client/js/custom_elements/ind_date_picker.scss
  indico/web/client/js/custom_elements/ind_with_tooltip.js
  indico/web/client/js/custom_elements/tips.scss
  indico/web/client/js/react/components/DatePicker.jsx
  indico/web/client/js/react/components/DatePickerCalendar.jsx
  indico/web/client/js/react/components/DateRangePicker.jsx
  indico/web/client/js/react/components/dates/CalendarRangeDatePicker.jsx
  indico/web/client/js/react/components/dates/CalendarSingleDatePicker.jsx
  indico/web/client/js/react/components/dates/DatePeriodField.jsx
  indico/web/client/js/react/components/dates/DateRangePicker.jsx
  indico/web/client/js/react/components/index.js
  indico/web/client/js/react/components/style/dates.scss
  indico/web/client/js/utils/__tests__/date.test.js
  indico/web/client/js/utils/date.js
  indico/web/client/js/utils/l10n.js
  indico/web/client/js/utils/react_integration.js
  indico/web/client/js/utils/timing.js
  indico/web/client/styles/partials/_sui_debt.scss
Labels: a11y

#6717 Fix positioning style
  indico/web/client/js/utils/positioning.js
Labels: bug
