Repository indico/indico, pull requests merged in 2025-03, with the labels that each got.

#6776 Improve keyboard navigation within the category page
  CHANGES.rst
  indico/modules/categories/templates/display/base.html
  indico/modules/categories/templates/display/category.html
  indico/web/client/styles/modules/_category.scss
  indico/web/client/styles/partials/_toolbars.scss
Labels: a11y

#6758 Add alternative names to affiliations
  CHANGES.rst
  indico/core/db/sqlalchemy/core.py
  indico/core/db/sqlalchemy/custom/array_is_unique.py
  indico/core/db/sqlalchemy/custom/array_utils.py
  indico/core/db/sqlalchemy/custom/unaccent.py
  indico/migrations/versions/20250214_1136_c7d6c3641918_add_alternate_names_to_affiliations.py
  indico/modules/events/export.py
  indico/modules/users/controllers.py
  indico/modules/users/models/affiliations.py
  indico/modules/users/util.py
  indico/util/caching.py
  indico/util/countries.py
  indico/web/client/js/react/components/PersonDetailsModal.jsx
  indico/web/client/js/react/components/syncedInputs.jsx
Labels: alembic

#6810 Make no-such-user more verbose in email-only mode
  CHANGES.rst
  indico/core/auth.py
  indico/modules/auth/providers.py
  requirements.txt
Labels: dependencies, python

#6809 Add setting to enforce predefined affiliations
  CHANGES.rst
  indico/modules/auth/client/js/signup.jsx
  indico/modules/auth/controllers.py
  indico/modules/events/fields.py
  indico/modules/events/persons/client/js/EditEventPerson.jsx
  indico/modules/events/persons/controllers.py
  indico/modules/events/persons/schemas.py
  indico/modules/events/persons/templates/management/_person_list_row.html
  indico/modules/events/persons/templates/management/person_list.html
  indico/modules/users/__init__.py
  indico/modules/users/client/js/PersonalDataForm.jsx
  indico/modules/users/controllers.py
  indico/modules/users/forms.py
  indico/modules/users/schemas.py
  indico/modules/users/templates/personal_data.html
  indico/web/client/js/jquery/widgets/jinja/person_link_widget.js
  indico/web/client/js/react/components/PersonDetailsModal.jsx
  indico/web/client/js/react/components/PersonLinkField.jsx
  indico/web/client/js/react/components/syncedInputs.jsx
  indico/web/client/js/react/forms/fields.jsx
  indico/web/templates/forms/person_link_widget.html
Labels: build-wheel

#6797 Fix tip positioning when content changes
  CHANGES.rst
  indico/web/client/js/custom_elements/TipBase.js
  indico/web/client/js/custom_elements/_base.js
Labels: a11y

#6779 Add UserLogEntry
  CHANGES.rst
  indico/migrations/versions/20250320_1800_4615aff776e0_add_user_logs.py
  indico/modules/categories/models/categories.py
  indico/modules/logs/__init__.py
  indico/modules/logs/blueprint.py
  indico/modules/logs/client/style/logs.scss
  indico/modules/logs/controllers.py
  indico/modules/logs/models/entries.py
  indico/modules/logs/templates/logs.html
  indico/modules/logs/util.py
  indico/modules/logs/views.py
  indico/modules/users/models/users.py
  indico/modules/users/operations.py
  indico/modules/users/util.py
Labels: alembic
